@import 'styles/styles.module.scss';

.about-container{
    h2{
        margin-block: 2rem;
    }
    .about-description{
        font-size: $fontmd;
    }
    li::marker{
        font-size: $fontmd;
        font-weight: $fontbold;
    }
}