.regBtn{
    cursor: pointer;
    color: #ffffff;
    background-color: #FE5F1E;
    border: none;
    border-radius: 2rem;
    padding: 0.75rem;
    padding-inline: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    transition: all 0.2s;
    &:hover{
        background-color: #FE7F1E;
    }
}

.choise{
    cursor: pointer;
    color: #000000;
    background-color: #FAFAFA;
    border: none;
    border-radius: 2rem;
    padding: 0.75rem;
    padding-inline: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    transition: all 0.2s;
    &:hover{
        color: #ffffff;
        background-color: #282828;
    }
}

.addPizza{
    cursor: pointer;
    color: #FE7F1E;
    background-color: #FFF0E6;
    border: none;
    border-radius: 2rem;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    transition: all 0.3s;
    &:hover{
        background-color: #FFD2B3;
    }
}

.openSort{
    cursor: pointer;
    background-color: transparent;
    border: none;
    float: left;
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
}

.closeModal{
    min-width: 2rem;
    min-height: 2rem;
    cursor: pointer;
    color: #ffffff;
    background-color: #ff00008e;
    border: none;
    display: flex;
    border-radius: 5rem;
    padding: 0.25rem;
    font-size: 1.25rem;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    float: right;
    &:hover{
        transition: all 0.2s;
        color: #ffffff;
        background-color: #ff0000c0;
    }
}

.switchBtn{
    border: none;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;
    border-bottom: 1px solid black;
    &:hover{
        transition: all 0.2s;
        color: #FE7F1E;
    }
}
