@import '../../Styles/styles.modeule.scss';

.regBtn{
    cursor: pointer;
    color: $white;
    background-color: #FE5F1E;
    border: none;
    border-radius: $radius;
    padding: $paddingmd;
    padding-inline: $inline-padding;
    font-size: $fontsm;
    font-weight: $fontbold;
    text-align: center;
    transition: all 0.2s;
    &:hover{
        background-color: $mainorange;
    }
}

.choise{
    cursor: pointer;
    color: $black;
    background-color: $lightgray;
    border: none;
    border-radius: $radius;
    padding: $paddingmd;
    padding-inline: $inline-padding;
    font-size: $fontsm;
    font-weight: $fontbold;
    text-align: center;
    transition: all 0.2s;
    &:hover{
        color: $white;
        background-color: $gray;
    }
}

.addPizza{
    cursor: pointer;
    color: $mainorange;
    background-color: #FFF0E6;
    border: none;
    border-radius: $radius;
    padding: $paddingmd;
    font-size: $fontsm;
    font-weight: $fontbold;
    text-align: center;
    transition: all 0.3s;
    &:hover{
        background-color: $lightorange;
    }
}

.openSort{
    cursor: pointer;
    background-color: transparent;
    border: none;
    float: left;
    font-size: $fontsm;
    font-weight: $fontbold;
    text-align: left;
}

.closeModal{
    min-width: 2rem;
    min-height: 2rem;
    cursor: pointer;
    color: $white;
    background-color: #ff00008e;
    border: none;
    display: flex;
    border-radius: $radius;
    padding: $paddingsm;
    font-size: $fontmd;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    float: right;
    &:hover{
        transition: all 0.2s;
        color: $white;
        background-color: #ff0000c0;
    }
}

.switchBtn{
    border: none;
    font-size: $fontsm;
    font-weight: $fontbold;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;
    border-bottom: 1px solid black;
    &:hover{
        transition: all 0.2s;
        color: $mainorange;
    }
}

.deleteItem{
    min-width: 2rem;
    min-height: 2rem;
    cursor: pointer;
    color: $gray;
    background-color: transparent;
    border: none;
    display: flex;
    border-radius: $radius;
    padding: $paddingsm;
    font-size: $fontmd;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    float: right;
    &:hover{
        transition: all 0.2s;
        transform: scale(1.2);
    }
}