.form-container{
    display: grid;
    grid-template-rows: auto auto auto auto 35%;
    width: 100%;
    margin-left: 0.75rem;
    .input-outline{
        background-color: #00000005;
        display: flex;
        border-radius: 10rem;
        height: 3rem;
        width: 100%;
        align-items: center;
        justify-content: center;
        transition: all 0.2s;
        &:focus-within{
            background-color: #00000010;
            transition: all 0.2s;
        }
        input{
            border: none;
            background-color: transparent;
            width: 80%;
            font-size: 1rem;
            &:focus{
                outline: 0;
                outline-offset: 0;     
            }
        }
    }
    .btn-container{
        display: flex;
        justify-content: center;
        align-items: end;
        text-align: center;
        margin-left: 0.5rem;
    }
}