$fontbold: 600;
$fontlight: 400;
$fontxs: 0.75rem;
$fontsm: 1rem;
$fontmd: 1.25rem;
$fontlg: 1.5rem;
$paddingsm: 0.25rem;
$paddingmd: 0.75rem;
$paddinglg: 1rem;
$paddinxl: 1.25rem;
$radius: 5rem;
$inline-padding: 1.5rem;
$white: #ffffff;
$lightgray: #FAFAFA;
$gray: #282828;
$black: #000000;
$mainorange: #FE7F1E;
$lightorange: #FFD2B3;
$mWidth: 1300px;
$widthsm: 15rem;
$widthmd: 20rem;
$gBorder: 1px solid #282828;
$lBorder: 1px solid #00000015;