@import '../../styles/styles.module.scss';


.basket-container{
    display: grid;
    min-height: 25rem;
    grid-template-rows: 10% 80% 10%;  
    max-height: 30rem;
    .basket-head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .basket-title{
            font-size: $fontlg;
            font-weight: $fontbold;
        }
    }
    .basket-body{
        margin-left: 2rem;
        display: grid;
        align-items: center;
        justify-self: center;
        overflow-x: auto;
        .basket-message{
            grid-column: 1 / all;
            grid-row: 1 / all;
            display: flex;
            justify-self: center;
            align-self: center;
        }
        .basket-item{
            .product{
                height: 10rem;
                display: grid;
                grid-template-columns: 30% 60% 10%;
                grid-template-rows: 30% 40% 30%;
                justify-content: center;
                align-items: center;
                box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
                padding: $paddinglg;
                border-radius: 1rem;
                margin-bottom: 1rem;
                .product-prewie{
                    width: 8.5rem;
                    grid-column: 1;
                    grid-row: 1 / 4;
                    height: 8.5rem;
                    justify-self: center;
                }
                .product-title{
                    font-size: $fontlg;
                    font-weight: $fontbold;
                    grid-column: 2;
                    grid-row: 1;
                    width: auto;
                }
                .product-description{
                    grid-column: 2;
                    grid-row: 2;
                    width: 20rem;
                    font-size: $fontsm;
                    color: $gray;
                }
                .product-price{
                    grid-column: 2;
                    grid-row: 3;
                    font-weight: $fontbold;
                }
                .item-delete{
                    grid-row: 1;
                    grid-column: 3;
                    justify-self: center;
                    align-self: center;
                }
            }
        }
    }
    .btn-container{
        margin-left: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (min-width: 400px) and (max-width: 500px){
    .basket-container{
        .basket-body{
            .basket-item{
                overflow-x: none;
                .product{
                    min-width: 17rem;
                    height: 10rem;
                    .product-prewie{
                        width: 6rem;
                        height: 6rem;
                    }
                    .product-title{
                        font-size: $fontsm;
                    }
                    .product-description{
                        width: 14rem;
                        font-size: $fontxs;
                    }
                }
            }
        }
    }
}