@import '../../Styles/styles.modeule.scss';

    .pizza-card{
        width: auto;
        display: grid;
        grid-template-columns: 1fr;
        width: auto;
        height: 30rem;
        justify-content: center;
        align-items: center;
        margin-bottom: 4rem;
        cursor: pointer;
        &:hover .pizza-prewie{
            transition: all 0.3s;
            transform: translateY(5px);
        }
        .pizza-prewie{
            grid-row: 1;
            width: $width;
            transition: all 0.3s;
        }
        .pizza-title{
            width: $width;
            font-size: $fontmd;
            font-weight: $fontbold;
            grid-row: 2;
        }
        .pizza-description{
            width: $width;
            font-size: 0.85rem;
            line-height: 15px;
            color: #00000090;
            overflow-y: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            line-clamp: 4;
            grid-row: 3;
        }
        .pizza-add-container{
            width: $width;
            grid-row: 4;
            display: flex;
            justify-content: space-between;
            .pizza-price{
                font-size: $fontmd;
                font-weight: $fontbold;
            }
        }
    }