.modal{
    width: 100vw;
    height: 100vh;
    background-color: #00000080;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;    
    .modal-content{
        padding: 2.25rem;
        border-radius: 2rem;
        background-color: #ffffff;
        width: 25rem;
        height: 25rem;
        transform: scale(0);
    }
}
.active{
    opacity: 1;
    pointer-events: all;    
    cursor:default;
    .modal-content{
        transform: scale(1);
    }
}