@import '/src/styles/styles.module.scss';

.menu-list{
    z-index: 998;
    position: absolute;
    top: 45%;
    right: 1%;
    background-color: $white;
    border: $lBorder;
    border-radius:15px;
    padding-block: $paddingmd;
    padding-inline: $paddingmd;
    .menu-item{
        cursor: pointer;
        list-style: none;
        height: 2.25rem;
        display: flex;
        align-items: center;
        transition: all 0.2s;
        &:hover{
            color: $mainorange;
            transition: all 0.2s;
        }
    }
}