@import '../../Styles/styles.modeule.scss';

header{
    width: $width;
    height: 7rem;
    border-bottom: $lBorder;
    display: flex;
    justify-content: center;
    .headerContainer{
        width: $mWidth;
        height: $height;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .containerForLogo{
            display: grid;
            grid-template-columns: 15% 85%;
            grid-column-gap: 0.5rem;
            grid-template-rows: 70% 30%;
            justify-self: center;
            align-items: center;
            .logo{
                grid-column: 1;
                grid-row: 1 / all;
                width: 4rem;
                height: 4rem;
                justify-self: center;
            }
            .title{
                grid-column: 2;
                font-size: 2rem;
                font-weight: $fontbold;
                letter-spacing: 0.1rem;
                align-self: center;
            }
            .description{
                grid-column: 2;
                font-weight: $fontlight;
                text-wrap: nowrap;
                align-self: center;
                color: #00000090;
            }
        }
        .containerForBtn{
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }
}