@import '../../Styles/styles.modeule.scss';

.settings-container{
    display: flex;
    width: $width;
    justify-self: center;
    align-items: center;
    text-align: center;
    margin-block: 1rem;
    justify-content: space-between;
    .choise-container{
        display: flex;
        gap: 0.75rem;
    }
    .selected-option{
        color: $mainorange;
        text-decoration: underline;
        text-decoration-style: dotted;
    }
}