@import 'styles/styles.module.scss';

.input-outline{
    background-color: #00000005;
    display: flex;
    border-radius: $radius;
    height: 3rem;
    width: 93%;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    &:focus-within{
        background-color: #00000010;
        transition: all 0.2s;
    }
    input{
        border: none;
        background-color: transparent;
        width: 80%;
        font-size: 1rem;
        &:focus{
            outline: 0;
            outline-offset: 0;     
        }
    }
}