@import '../../styles/styles.module.scss';

footer{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    border-top: $lBorder;
    padding-block: $paddinxl;
    background-color: $gray;
    color: $lightgray;
    .footer-head{
        max-width: 100%;
        grid-row-gap: 2rem;
        display: grid;
        justify-content: center;
        align-items: center;
        margin-block: 2rem;
        .logo{
            justify-self: center;
            grid-row: 1;
            width: 5rem;
            height: 5rem;
        }
        .footer-logo{
            font-size: $fontlg;
            font-weight: $fontbold;
            letter-spacing: 0.1rem;
            align-self: center;
        }
    }
    .footer-body{
        display: grid;
        grid-row: 2;
        justify-content: center;
        margin-bottom: 2rem;
        .info-container, .contact-containe{
            display: grid;
            grid-column: 1;
            text-align: center;
            a, p{
                color: $lightgray;
                text-decoration: none;
                line-height: 0;
                transition: all 0.1s;
                &:hover{
                    transition: all 0.1s;
                    color: $mainorange;
                }
            }
        }
        .contact-container{
            grid-column: 2;
            text-align: center;
        }
        .pay-container{
            margin-top: 2rem;
            grid-column: 1/3;
            .pay-info{
                display: flex;
                justify-self: center;
            }
            .pay-icon{
                img{
                    width: 40rem;
                }
            }
        }
    }
}

@media (min-width: 400px ) and (max-width: 768px){
    footer{
        .footer-body{
            width: 100%;
            display: flex;
            flex-direction: column;
            .pay-container{
                .pay-icon{
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px ) and (max-width: 900px){
    .footer-head{
        width: 100vw;
    }
    .footer-body{
        width: 100vw;
        .pay-icon{
            width: 100vw;
        }
    }
}
@media (min-width: 900px ) and (max-width: 1200px){
    .footer-head{
        width: 100vw;
    }
    .footer-body{
        width: 100vw;
        .pay-icon{
            width: 100vw;
        }
    }
}