@import '../../styles/styles.module.scss';

footer{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    border-top: $lBorder;
    padding-block: $paddinxl;
    background-color: $gray;
    color: $lightgray;
    .footer-head{
        max-width: 100%;
        grid-row-gap: 2rem;
        display: grid;
        justify-content: center;
        align-items: center;
        margin-block: 2rem;
        .logo{
            justify-self: center;
            grid-row: 1;
            width: 5rem;
            height: 5rem;
        }
        .footer-logo{
            font-size: $fontlg;
            font-weight: $fontbold;
            letter-spacing: 0.1rem;
            align-self: center;
        }
    }
    .footer-body{
        display: grid;
        grid-template-columns: 20rem 20rem;
        grid-row: 2;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        .footer-infobase{
            display: flex;
            color: $lightgray;
            grid-column: 2;
            transition: all 0.2s;
            justify-self: center;
            text-decoration: none;
            &:hover{
                color: $mainorange;
                transition: all 0.2s;
            }
        }
        .pay-info{
            display: flex;
            grid-column: 1;
            justify-self: center;
        }
        .pay-icon{
            grid-column: 1 / 3;
            width: 40rem;
        }
    }
}


@media (min-width: 100px ) and (max-width: 300px){
    footer{
        width: 200px;
        .footer-head{
            width: 100vw;
        }
        .footer-body{
            width: 100vw;
            .pay-icon{
                display: none;
            }
        }
    }
}

@media (min-width: 400px ) and (max-width: 768px){
    footer{
        width: auto;
        max-width: 768px;
        .footer-head{
            width: auto;
            max-width: 768px;
        }
        .footer-body{
            width: auto;
            grid-template-columns: auto;
            max-width: 768px;
            .pay-info{
                grid-column: 1;
                grid-row: 2;
            }
            .footer-infobase{
                grid-column: 1;
                grid-row: 1;
            }
            .pay-icon{
                display: none;
            }
        }
    }
}

@media (min-width: 768px ) and (max-width: 900px){
    .footer-head{
        width: 100vw;
    }
    .footer-body{
        width: 100vw;
        .pay-icon{
            width: 100vw;
        }
    }
}
@media (min-width: 900px ) and (max-width: 1200px){
    .footer-head{
        width: 100vw;
    }
    .footer-body{
        width: 100vw;
        .pay-icon{
            width: 100vw;
        }
    }
}