@import 'styles/styles.module.scss';

.form-container{
    display: grid;
    grid-template-rows: auto auto 30%;
    width: 100%;
    margin-left: $paddingmd;
    .btn-container{
        display: flex;
        justify-content: center;
        align-items: end;
        text-align: center;
        margin-left: 0.5rem;
    }
}