@import '../../Styles/styles.modeule.scss';

.login-container{
    display: grid;
    align-items: center;
    .login-header{
        margin: 0.25rem;
        align-items: center;
        font-weight: $fontbold;
        font-size: $fontlg;
        height: 2rem;
        margin-bottom: 2rem;
    }
}